* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik';
    background-color: #64634E;
    color: #FFFFFF;
    text-align: center;
}

h1 {
    font-size: 52px;
    margin-bottom: 25px;
}

h2 {
    margin-bottom: 35px;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#article {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
}

.buttons a {
    border-radius: 50px;
    padding: 12.5px 20px;
    display: block;
    font-weight: 500;
}

.buttons a:first-child {
    background-color: #FFFFFF;
    color: #323226;
    margin-bottom: 15px;
    transition: background-color 0.2s ease;
}

.buttons a:first-child:hover {
    background-color: #C7C6B7;
}

.buttons a:last-child {
    background-color: #323226;
    color: #FFFFFF;
    transition: background-color 0.2s ease;
}

.buttons a:last-child:hover {
    background-color: #484837;
}

.left {
    flex: 1;
}

.left nav {
    display: flex;
    justify-content: space-between;
    padding: 35px 75px;
}

.left nav a {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.2s ease;
}

.left nav a:hover {
    color: #C7C6B7;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 100px;
    height: 100%;
}

.right {
    flex: 2;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: 50% 85%;
    background-size: cover;
    border-bottom-left-radius: 50px;
}

.right nav {
    display: flex;
    justify-content: flex-end;
    padding: 35px 75px;
}

.right nav a {
    color: #4D4D3A;
    border: 2px solid #4D4D3A;
    padding: 5px 20px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 18px;
    background-color: transparent;
    transition: background-color 0.2s ease;
}

.right nav a:hover {
    background-color: #C7C6B7;
}

.right ol {
    color: #4D4C3C;
    counter-reset: link-counter;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 55%;
}

.right ol li {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
}

.right ol li::before {
    text-shadow: none;
    color: white;
    background-color: #595944;
    padding: 15px 20px;
    border-radius: 100%;
    counter-increment: link-counter;
    content: counter(link-counter);
    display: inline;
    font-weight: 700;
    margin-bottom: 15px;
}

#gallery, #prices, #order, footer {
    max-width: 1440px;
    margin: auto;
    padding: 100px 250px 0 250px;
}

#gallery ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    overflow-x: scroll;
    gap: 25px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#gallery div {
    display: flex;
    overflow: hidden;
    border-radius: 15px;
}

#gallery div img {
    object-fit: cover;
    transition: transform 0.25s ease;
}

#gallery div:hover img {
    transform: scale(1.2);
}

#gallery p {
    margin-top: 15px;
    font-weight: 300;
    font-size: 18px;
}

table {
    background-color: white;
    color: black;
    width: 100%;
    border-radius: 25px;
}

tbody tr td:last-child {
    color: #A1824A;
}

th, td {
    padding: 20px;
}

form {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.calculator, .application {
    width: 100%;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

input {
    font-family: 'Rubik';
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 16px;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #A1824A;
}

.application button {
    cursor: pointer;
    font-family: 'Rubik';
    background-color: #323226;
    font-weight: 500;
    width: 100%;
    transition: background-color 0.2s ease;
}

.application button:hover {
    background-color: #484837;
}

.application button, #order p {
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 16px;
}

#order p {
    background-color: #4D4D3A;
}

footer {
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 300;
}

#contacts {
    margin-bottom: 75px;
    text-align: left;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #323226;
    padding: 0;
}

.list {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.contact span {
    background-color: white;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.contact {
    display: flex;
}

.contact a {
    color: #CCCC9B;
    cursor: pointer;
    transition: color 0.2s ease;
}

.contact a:hover {
    color: #93936C;
}

@media screen and (max-width: 1280px) {

    body {
        font-size: 12px;
    }

    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
    p {
        font-size: 16px;
    }
    #gallery p {
        font-size: 12px;
    }
    input, .application button, #order p {
        font-size: 14px;
    }

    .right {
        display: flex;
        flex-direction: column;
    }
    .right ol {
        flex-direction: column;
        top: 0; 
        justify-content: space-evenly;
        flex: 1;
    }

    #gallery, #prices, #order, footer {
        max-width: 1440px;
        margin: auto;
        padding: 25px 50px;
    }

    th, td {
        padding: 15px;
    }

    tbody tr td:first-child, thead tr th:first-child {
        text-align: left;
    }
    tbody tr td:last-child, thead tr th:last-child {
        text-align: right;
    }

    .calculator h2 span {
        display: none;
    }
    .calculator h2::after {
        content: "Створити заявку";
    }
    .application h2 {
        display: none;
    }
    form {
        flex-direction: column;
        gap: 25px;
    }
    #contacts {
        margin-bottom: 50px;
    }
    #contacts h2 {
        text-align: center;
    }
    .list {
        width: 100%;
        flex-direction: column;
        gap: 15px;
    }
    .contact {
        width: 100%;
    }
    .contact span {
        display: none;
    }
    .contact div {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .contact div a {
        text-align: right;
    }
}
@media screen and (min-width: 1280px) {
    
    #contacts h2, hr {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    nav {
        display: none !important;
    }
    #article {
        flex-direction: column;
        background-image: url(../img/background.png);
        background-repeat: no-repeat;
        background-position: 50% 85%;
        background-size: cover;
        justify-content: flex-end;
    }
    .left {
        background-color: #64634E;
        border-radius: 50px;
        margin: 50px;
        margin-bottom: 20vw;
        flex: 0;
    }
    .controls {
        padding: 35px;
        height: auto;
    }
    h1 {
        margin-bottom: 10px;
    }
    .buttons a:first-child {
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .right {
        border-radius: 50px 50px 0 0;
        background-image: none;
        background-color: #64634E;
        padding: 50px;
        flex: 0;
    }
    .right ol {
        gap: 10px;
    }
    .right ol li {
        background-color: #323226;
        flex-direction: row;
        border-radius: 50px;
        color: white;
        text-align: left;
    }
    
    .right ol li::before {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 2px solid #323226;
        text-shadow: none;
        color: #323226;
        background-color: white;
        padding: 15px 20px;
        border-radius: 100%;
        counter-increment: link-counter;
        content: counter(link-counter);
        display: inline;
        font-weight: 700;
        margin-bottom: 0;
        margin-right: 15px;
    }
}
